/* ============ FONTS START ============ */
/* latin */
@font-face {
  font-family: "Post No Bills Jaffna";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/PostNoBillsJaffna-Bold.woff2) format("woff2");
}
/* cyrillic-ext */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v12/jizaRExUiTo99u79D0-ExdGM.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v12/jizaRExUiTo99u79D0aExdGM.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v12/jizaRExUiTo99u79D0yExdGM.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v12/jizaRExUiTo99u79D0KExQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v12/jizfRExUiTo99u79B_mh0OOtLQ0Z.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v12/jizfRExUiTo99u79B_mh0OqtLQ0Z.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v12/jizfRExUiTo99u79B_mh0OCtLQ0Z.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v12/jizfRExUiTo99u79B_mh0O6tLQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v22/nuFiD-vYSZviVYUb_rj3ij__anPXDTjYgFE_.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v22/nuFiD-vYSZviVYUb_rj3ij__anPXDTLYgFE_.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v22/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgA.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v22/nuFiD-vYSZviVYUb_rj3ij__anPXDTjYgFE_.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v22/nuFiD-vYSZviVYUb_rj3ij__anPXDTLYgFE_.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v22/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgA.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* ============ FONTS END ============ */

/* ============ CSS RESET START ============ */

/* http://meyerweb.com/eric/tools/css/reset/ 
       v2.0 | 20110126
       License: none (public domain)
    */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ============ CSS RESET END ============ */

/* ============ COMMON STYLES START ============ */

*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --dark-bg-color: hsl(0, 0%, 0%);
  --text-color: hsl(0, 0%, 100%);
  --header-text-color: hsl(0, 0%, 59%);
  --brand-color: hsl(0, 0%, 100%);
}
body {
  color: var(--text-color);
  font-family: "PT Sans", system-ui, -apple-system, "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--dark-bg-color);
}
a,
span,
::before,
::after {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}
button {
  background-color: transparent;
  color: #fff;
}
.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.container-wide {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
.section-title {
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 45px;
}
.section-title::after {
  content: "";
  display: block;
  width: 120px;
  height: 1px;
  background: var(--brand-color);
  margin: 40px auto 0 auto;
}
/* ============ COMMON STYLES END ============ */

/* ============ HEADER START ============ */
.header,
.header > i {
  color: var(--header-text-color);
}
.header a:hover {
  color: var(--brand-color);
  transition: 0.3s;
}
.header-top {
  padding: 15px 0;
  font-size: 12px;
}
.header-top-content {
  display: flex;
  justify-content: space-between;
}
.info-part {
  display: flex;
  align-items: center;
}
.info-part .phone {
  align-items: center;
}
.info-part .phone i {
  margin-right: 15px;
}
.info-part p::before {
  content: "|";
  margin: 0 15px;
}
.login-part {
  display: flex;
  align-items: center;
}
.login-link {
  align-items: center;
}
.login-link i {
  margin-right: 10px;
}
.login-link::after {
  content: "/";
  margin: 0 4px;
}
.header-main {
  background: #0f0f0f;
  text-transform: uppercase;
}
.header-main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-family: "Post No Bills Jaffna", serif;
  font-weight: 700;
  font-size: 36px;
  color: var(--text-color);
}
.nav {
  display: flex;
  align-items: center;
}
.pages {
  display: flex;
  align-items: center;
}
.pages a {
  padding: 30px 20px;
}
.pages a:hover {
  background: #1f1f1f;
}
.search-products-block {
  color: var(--text-color);
  margin-left: 60px;
  font-size: 18px;
}
.search-products-block a:last-child {
  margin-left: 40px;
}
.mobile-header {
  display: none;
}
/* ============ HEADER END ============ */

/* ============ HERO START ============ */
.hero-section {
  background: linear-gradient(
      0deg,
      rgba(15, 15, 15, 0.5),
      rgba(15, 15, 15, 0.5)
    ),
    url(../img/hero.webp) no-repeat 50% / cover;
  text-align: center;
  padding: 160px 0;
}
.logo-group {
  border: 4px solid var(--brand-color);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  padding: 94px 64px;
  margin-bottom: 80px;
}
.logo-group p {
  font-size: 22px;
  text-transform: uppercase;
}
h1 {
  font-family: "Post No Bills Jaffna", serif;
  font-size: 64px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
h1::after {
  content: "";
  display: flex;
  height: 2px;
  width: 180px;
  background: var(--brand-color);
  margin-top: -12px;
}
.hero-text {
  text-transform: uppercase;
  margin: 0 auto;
  font-size: 16px;
  width: 730px;
}
/* ============ HERO END ============ */

/* ============ COLLECTION START ============ */
.collections-block {
  font-family: "Playfair Display";
}
.collection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.collection:nth-child(odd) > .collection-image-block {
  order: 1;
}
.collection-image-block {
  position: relative;
}
.collection-image-wrap {
  position: relative;
}
.collection-image-wrap::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(15, 15, 15, 0.5),
    rgba(15, 15, 15, 0.5)
  );
}
.collection-image {
  width: 880px;
  height: 730px;
  object-fit: cover;
  background: #413b42;
}
.collection-image.second {
  height: auto;
  background: #2f2f2f;
}
.cta {
  position: absolute;
  bottom: 100px;
  left: 252px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  letter-spacing: 0.1em;
  padding: 12px 28px;
  border: 1px solid var(--brand-color);
  justify-content: center;
  transition: 0.4s;
}
.btn:hover {
  color: var(--dark-bg-color);
  background-color: var(--brand-color);
}
.collection-products {
  width: 50%;
  padding-left: 80px;
}
.cards-block {
  display: flex;
  justify-content: space-between;
}
.card {
  transition: 0.3s;
}
.card:hover {
  transform: scale(1.05);
}
.card-pic-block {
  padding: 55px 22px;
  background: #191b1c;
  margin-bottom: 25px;
}
.card-img {
  width: 215px;
  height: auto;
}
.card-title {
  font-size: 18px;
  margin-bottom: 10px;
}
.card-price {
  font-size: 16px;
  font-weight: 700;
  margin-top: auto;
}
.collection-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 275px;
}
.section-title.third {
  font-weight: 400;
}
.collection-text {
  text-align: center;
  margin-bottom: 60px;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
}
/* ============ COLLECTION END ============ */

/* ============ NEW START ============ */
.new-products {
  padding-top: 120px;
  padding-bottom: 105px;
}
.new-products .section-title {
  margin-bottom: 80px;
}
.new-products-cards.with-slider {
  display: none;
}
.new-products-cards.without-slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Playfair Display", serif;
}
.new-products-cards > .card:nth-child(n + 5) {
  margin-top: 40px;
}
/* ============ NEW END ============ */

/* ============ BRANDS START ============ */
.our-brands {
  padding-top: 105px;
  padding-bottom: 80px;
}
.brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.brand-pic {
  width: 255px;
  height: 94px;
}
/* ============ BRANDS END ============ */

/* ============ FOOTER START ============ */
.footer-wrap {
  padding-top: 80px;
  padding-bottom: 100px;
  font-size: 14px;
  background: linear-gradient(
      0deg,
      rgba(15, 15, 15, 0.85),
      rgba(15, 15, 15, 0.85)
    ),
    url("../img/footer-bg.webp") no-repeat 50% / cover;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.footer-title {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.about {
  width: 32%;
}
.categories {
  width: 30%;
}
.categories-btn {
  padding: 10px 20px;
  background: #000;
  color: #d0d0d0;
}
.categories-btn:hover {
  color: #000;
  background: #fff;
  transition: 0.4s;
}
.categories-btn:nth-child(n + 4) {
  margin-top: 20px;
}
.categories-btn:nth-last-child(n + 2) {
  margin-right: 20px;
}
.mailing {
  width: 30%;
}
.form {
  margin-top: 35px;
  display: flex;
}
.input {
  width: 210px;
  height: 45px;
  padding: 10px 22px 10px 15px;
  color: #fff;
  background: hsla(0, 0%, 100%, 0.4);
}
.btn-form {
  font-size: 14px;
  padding: 10px 15px;
  background: #0f0f0f;
  color: #fff;
  border: none;
}
::-webkit-input-placeholder {
  color: #fff;
}
:-moz-placeholder {
  color: #fff;
}
::-moz-placeholder {
  color: #fff;
}
:-ms-input-placeholder {
  color: #fff;
}
.footer > .container > p {
  font-size: 12px;
  color: #d0d0d0;
  padding: 16px 0;
}
/* ============ FOOTER END ============ */

/* ============ ADAPTIVE START ============ */
@media (max-width: 1706px) {
  .collection-image {
    width: 780px;
    height: 647px;
  }
  .cta {
    left: 202px;
  }
  .cards-block .card-img {
    width: 190px;
  }
  .collection-content {
    padding: 0 220px;
  }
}
@media (max-width: 1599.98px) {
  .collection-image {
    width: 699px;
    height: 580px;
  }
  .cta {
    left: 162px;
  }
  .cards-block .card-pic-block {
    padding: 35px 10px;
  }
  .collection-content {
    padding: 0 175px;
  }
}
@media (max-width: 1499.98px) {
  .collection-image {
    width: 640px;
    height: 530px;
  }
  .cta {
    left: 132px;
  }
  .collection-products {
    padding-left: 40px;
  }
  .cards-block {
    justify-content: space-evenly;
  }
  .cards-block .card-pic-block {
    padding: 35px 10px;
  }
  .cards-block .card-img {
    width: 150px;
  }
  .collection-content {
    padding: 0 140px;
  }
}
@media (max-width: 1299.98px) {
  .section-title {
    font-size: 32px;
    margin-bottom: 35px;
  }
  .section-title::after {
    margin: 25px auto 0 auto;
  }
  .collection-image {
    width: 590px;
    height: 489px;
  }
  .cta {
    left: 128px;
    bottom: 50px;
  }
  .collection-products {
    padding-left: 25px;
  }
  .swiper-container.products-slider,
  .swiper-container.collection-slider {
    width: 100%;
    height: 100%;
    padding: 10px 10px 50px 10px;
  }
  .btn {
    font-size: 14px;
  }
  .collection-content {
    padding: 0 74px;
  }
}
@media (max-width: 1199.98px) {
  .container {
    width: 960px;
  }
  .section-title {
    font-size: 30px;
    margin-bottom: 25px;
  }
  .section-title::after {
    margin: 20px auto 0 auto;
  }
  .collection-image {
    width: 488px;
    height: 411px;
  }
  .cta {
    left: 92px;
    bottom: 35px;
  }
  .collection-products {
    padding-left: 0;
  }
  .cards-block .card-img {
    width: 125px;
  }
  .cards-block .card-pic-block {
    padding: 25px 5px;
  }
  .cards-block .card-title {
    font-size: 16px;
  }
  .cards-block .card-price {
    font-size: 14px;
  }
  .collection-text {
    font-size: 12px;
    margin-bottom: 25px;
  }
  .new-products {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .new-products .section-title {
    margin-bottom: 40px;
  }
  .card-pic-block {
    padding: 45px 17px;
    margin-bottom: 17px;
  }
  .card-img {
    width: 180px;
  }
  .our-brands {
    padding-top: 50px;
  }
  .brand-pic {
    width: 170px;
    height: 62px;
  }
  .about {
    width: 34%;
  }
  .categories {
    width: 21%;
  }
  .categories-btn:nth-last-child(n + 2) {
    margin-right: 8px;
  }
  .mailing {
    width: 35%;
  }
  .input {
    width: 210px;
    height: 45px;
    padding: 10px 22px 10px 15px;
  }
  .btn-form {
    font-size: 12px;
    padding: 10px 10px;
  }
}
@media (max-width: 991.98px) {
  .container {
    width: 720px;
  }
  .hero-section {
    padding: 100px 0;
  }
  .hero-text {
    width: 650px;
  }
  .collection {
    flex-direction: column;
  }
  .collection:nth-child(odd) > .collection-image-block {
    order: -1;
  }
  .collection-image {
    width: 750px;
    height: 622px;
  }
  .cta {
    left: 219px;
    bottom: 80px;
  }
  .collection-products {
    margin: 50px 0;
    width: 90%;
  }
  .cards-block .card-pic-block {
    padding: 35px 10px;
  }
  .cards-block .card-img {
    width: 160px;
  }
  .swiper-container.products-slider,
  .swiper-container.collection-slider {
    text-align: center;
  }
  .collection-content {
    margin-top: 50px;
  }
  .new-products-cards > .card:nth-child(n + 4) {
    margin-top: 40px;
  }
  .footer-wrap {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .footer-title {
    margin-bottom: 20px;
  }
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about,
  .categories,
  .mailing {
    width: auto;
    padding: 0 100px;
  }
  .categories,
  .mailing {
    margin-top: 30px;
  }
  .categories-btn:nth-child(4) {
    margin-top: 0;
  }
  .form {
    justify-content: center;
  }
}
@media (max-width: 767.98px) {
  .container {
    width: 540px;
  }
  .desktop-header {
    display: none;
  }
  .mobile-header {
    display: block;
  }
  .header-top-content {
    justify-content: center;
  }
  .burger-menu {
    position: fixed;
    padding: 30px 15px 50px 15px;
    right: 0;
    top: 0;
    z-index: 10;
    overflow-y: auto;
    background: var(--dark-bg-color);
    width: 50%;
    height: 100vh;
    transform: translateX(+100%);
  }
  .burger-menu.open {
    transform: translateX(0);
  }
  .burger-menu.transition {
    transition: 0.3s;
  }
  .burger-menu-content {
    position: relative;
    padding-top: 110px;
  }
  .burger-btn.close {
    position: absolute;
    right: 11px;
    top: 21px;
  }
  .nav {
    flex-direction: column;
  }
  .pages {
    flex-direction: column;
  }
  .search-products-block {
    margin: 20px 0 35px 0;
  }
  .hero-text {
    width: 500px;
  }
  .collection-image {
    width: 100%;
    height: auto;
  }
  .cta {
    left: calc(50% - 156.5px);
    bottom: calc(50% - 150px);
  }
  .cards-block .card-img {
    width: 125px;
  }
  .new-products-cards > .card:nth-child(n + 3) {
    margin-top: 40px;
  }
  .brand-pic {
    width: 255px;
    height: 94px;
  }
}
@media (max-width: 575.98px) {
  .container {
    width: 100%;
  }
  .section-title {
    font-size: 24px;
  }
  .btn {
    font-size: 12px;
  }
  .mobile-header .info-part {
    flex-wrap: wrap;
    justify-content: center;
  }
  .burger-menu {
    width: 100%;
  }
  .burger-btn {
    font-size: 16px;
  }
  .burger-btn.close {
    right: 1px;
    top: 39px;
  }
  .hero-section {
    padding: 70px 0;
  }
  .logo-group {
    padding: 67px 37px;
    margin-bottom: 50px;
  }
  .hero-text {
    width: 274px;
    font-size: 14px;
  }
  .cta {
    left: calc(50% - 125px);
    bottom: 30px;
  }
  .swiper-container .swiper-pagination-bullet {
    background: #fff;
  }
  .cards-block .card-img {
    width: 170px;
  }
  .collection-content {
    padding: 0 16px;
  }
  .new-products .section-title {
    margin-bottom: 30px;
  }
  .new-products-cards {
    height: 810px;
  }
  .new-products-cards.with-slider {
    display: block;
    font-family: "Playfair Display", serif;
  }
  .new-products-cards.without-slider {
    display: none;
  }
  .products-slider .swiper-slide,
  .collection-slider .swiper-slide {
    text-align: center;
    font-size: 18px;
    height: calc((100% - 30px) / 2);

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .brands {
    justify-content: center;
  }
  .about,
  .categories,
  .mailing {
    width: 100%;
    padding: 0;
  }
  .categories-btn:nth-child(n + 4) {
    margin-top: 20px;
  }
  .input {
    width: 170px;
    padding: 10px;
  }
  .btn-form {
    padding: 10px 7px;
  }
}
/* ============ ADAPTIVE END ============ */
